<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Welcome to the Games Tracker! Log in to track your games.</h1>


<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>
        <label>E-email</label>
        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <label>Password</label>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Login</button>
    </form>
</div>

</body>
</html>