<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">My Consoles</h1>

<nav th:replace="fragments :: navigation"></nav>
<hr>
<p th:unless="${consoles} and ${consoles.size()}">No Consoles Yet</p>


<ul>
    <li th:each="console : ${consoles}"><a th:href="|/consoles/view/${console.id}|" th:text="|${console.brand} ${console.name}|"></a></li>
</ul>

<hr>

<a href="add">Add a console</a>

</body>
</html>