<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">My Games</h1>

<nav th:replace="fragments :: navigation"></nav>
<hr>

<p th:unless="${games} and ${games.size()}">No Games Yet</p>


<ul>
    <li th:each="game : ${games}"><a th:href="|/games/view/${game.id}|" th:text="${game.name}"></a></li>
</ul>

<hr>

<a th:href="|/game/add/${consoleId}|">Add a Game</a>

</body>
</html>